@font-face {
    font-family: "Cursor Gothic";
    src: url("/assets/fonts/CursorGothic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cursor Gothic";
    src: url("/assets/fonts/CursorGothic-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cursor Gothic";
    src: url("/assets/fonts/CursorGothic-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Cursor Gothic";
    src: url("/assets/fonts/Normal-text.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}



:root {
    --main-color: #14120B;
    --text-color: #D7D6D5;
    --btn-border: #2F2D28;
    --white-color: white;

    --font-sans: "Cursor Gothic", "CursorGothic Fallback", system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: var(--font-sans);

}

.container {
    margin: 0px 100px;
}

.navbar {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;

}

.logos {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;


}

a {
    color: inherit;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1em;

}


a:hover {}

.btn {
    padding: 8px 15px;
    border: none;
    background: none;
    font-size: 0.9em;
}

.btn-rounded {
    color: var(--white-color);
    border-radius: 50px;
    font-weight: 500;
    border: 2px solid var(--btn-border);

}

.white-btn-rounded {
    background: white;
    color: var(--main-color);
    border-radius: 50px;
    border: 2px solid var(--btn-border);
}








.second-container{
    padding-left: 20px;
}
.top-half {
    width: 40%;
    margin-top: 100px;

}


.top-half p {
    font-size: 1.6em;
    color: var(--white-color);
    
}


.long-btn {
    padding: 12px 25px;
    font-size: 1em;
}

.bottom {

  width: 100%;
  height: 88vh;
  overflow: hidden;
   margin: 50px 0px 50px;
}

.bg-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
